body {
   font-family: 'Work Sans', sans-serif;
  }
  .pdf-canvas {
   border: 1px solid #ddd;
   border-radius: 0.5rem;
   background: white;
   margin: auto;
  }
  .modal {
   background-color: rgba(0,0,0,0.8);
  }
  .icon {
   width: 1.5rem;
   height: 1.5rem;
  }
  @keyframes fade-in {
   from { opacity: 0; }
   to { opacity: 1; }
  }
  .animate-fade-in {
   animation: fade-in 1s ease-out forwards;
  }
 
 .checkmark {
  width: 100px;
  height: 100px;
  stroke-width: 2;
  stroke: #4ade80;
  fill: none;
  stroke-miterlimit: 10;
 }
 .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.6s ease forwards;
 }
 .checkmark__check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s ease 0.6s forwards;
 }
 @keyframes stroke {
  to {
   stroke-dashoffset: 0;
  }
 }